@import '../../../Colors.scss';

.table_top {
    display: flex;
    align-items: center;
    padding-bottom: 0.5em;

    h2 {
        font-size: 1rem;
        margin-top: 0;
        color: $label-text;
    }
  
    input {
        margin-left: auto;
        border: 2px solid $table-border;
        border-radius: 99999px; //rounded shorter side
        padding: 0.5em 1em;
    }
  
    input:focus {
        outline: none;
        border-color: $primary-text;
        box-shadow: none;
    }
}

table {
    display: flex;
    flex-direction: column;

    th button {
        color: $text-black;
        cursor: pointer;
        border: none;
        font-size: 1em;
        font-weight: bold;
        background-color: transparent;
    }
}

.row {
    display: flex;
    border-bottom: 2px solid $table-border;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

// .th_active::after, table th button:hover::after {
//     font-size: 0px;
//     content: "";
//     box-sizing: content-box;
//     border-top: 0.5rem solid $text-black;
//     border-left: 0.25rem solid transparent;
//     border-right: 0.25rem solid transparent;
//     margin-left: 0.33rem;
//     vertical-align: 0.1rem;
//     height: 0px;
//     width: 0px;
// }

.th_active {
    color: $text-black;
}

.th_button:disabled {
    cursor: auto;
}

th,td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    vertical-align: middle;
    flex: 1 1;
}

tr:nth-child(odd) {
    background-color: $table-white;
}

tr:nth-child(even) {
    background-color: $table-grey;
}

.user_tools {
    text-align: right;
}