@import '../Colors.scss';

ul.articles-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.articles-list {

    .news-article > a {
        display: block;
        color: black;
        text-decoration: none;
    }

    li:first-of-type {
        margin-top: none;
    }

    li:last-of-type {
        margin-bottom: none;
    }

}

.news-article {
    display: block;
    background-color: $table-white;
    border: 2px solid $table-border;
    border-radius: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5em;
    padding: 1rem;

    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;

    .article-metadata {
        font-size: 1rem;
        display: flex;
        line-height: 1em;
        
        > * {
            margin: 0.25em;
        }

        img  {
            height: 2em;
            width: 2em;
        }

        .article-author {
            margin: 0;
            font-size: 1.2em;
        }

        .article-date {
            color: $text-grey;
            margin: 0;
            font-size: 0.8em;
        }
    }

    h2 {
        margin-top: 0.5em;
        font-weight: bold;
        color: $primary-text;
        font-family: 'Georgia', 'Times New Roman', serif;
    }
}