.centerpiece {
    display: block;
    max-width: 1440px;
    margin: auto 
}

.loading_logo,.loading_text {
    display: block;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.loading_text {
    text-align: center;
    font-size: 1.2em;
}