@import './Colors.scss';

* {
  box-sizing: border-box;
}

// forces footer to bottom
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }

  footer {
    margin-top: auto;
  }
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  color: $link-text;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.avatar-small {
  display: block;
  background-color: $light-bg-teal;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

main {
  background-color: $light-bg-grey;
  padding: 1.5rem;
}

header {
  background-color: $header-background;
  color: $header-text;
  overflow: hidden;

  .user {
    color: $user-text;
  }

  nav {
    background-color: $nav-background;
    color: $nav-text;
    list-style: none;
    font-family: 'Open Sans', 'Arial', sans-serif;

    > * {
      display: inline-block;
    }
  
    a, button, a:visited, button:visited {
      line-height: 1em;
      display: inline-block;
      padding: 16px 22px;
      text-decoration: none;
      color: $nav-text;
    }
  
    a:hover, button:hover, a:focus, button:focus {
      color: $nav-text-hover;
    }
  
    a:active, button:active, a.active, button.active {
      color: $nav-text-active;
    }
  
    .active {
      font-weight: bold;
    }
  }
}

footer {
  background-color: $footer-background;
  color: $footer-text;
  overflow: hidden;

  nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 0.25rem;
    }
  }

  ul {
    list-style: none;
    margin: 0.5rem;
  }

  .copyright {
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 18px;
    background-color: $copyright-background;
    color: $copright-text;
  }
}

table {
  display: flex;
  flex-direction: column;

  tr {
    display: flex;
    border-bottom: 2px solid $table-border;
    padding-top: 0.75em;
    padding-bottom: 0.75em;

    th { 
      button {
        cursor: pointer;
        border: none;
        font-size: 1em;
        font-weight: bold;
        background-color: transparent;
      }

      button.active::after, button:hover::after {
        font-size: 0px;
        content: "";
        box-sizing: content-box;
        border-top: 0.5rem solid $text-black;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        margin-left: 0.33rem;
        vertical-align: 0.1rem;
        height: 0px;
        width: 0px;
      }

      button.active {
        color: $text-black;
      }

      button:disabled {
        cursor: auto;
      }
    }

    th,td {
      text-align: left;
      vertical-align: middle;
      flex: 1 1;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  tr:nth-child(odd) {
    background-color: $table-white;
  }

  tr:nth-child(even) {
    background-color: $table-grey;
  }
}

.table-top {
  display: flex;
  align-items: center;

  input {
    margin-left: auto;
    border: 2px solid $table-border;
    border-radius: 99999px; //rounded shorter side
    padding: 0.5em 1em;
  }

  input:focus {
    outline: none;
    border-color: $primary-text;
  }
}

.table-links {
  display: flex;
  padding-top: 1rem;

  a, a:visited, button, button:visited {
    border-radius: 5px;
    background-color: $button-background;
    color: $button-text;
    border: 1px solid $button-background-hover;
    padding: 5px 12px;
  }
}

.pagination {
  margin-left: auto;

  button, button:visited {
    cursor: pointer;
    background-color: $table-white;
    border-radius: 0;
    display: inline-block;
    padding: 5px 8px;
    color: $text-black;
    border: 1px solid $table-border;
  }
  
  > *:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  > *:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  button:hover, button:focus {
    background-color: darken($table-white, 10%);
  }

  button:disabled {
    cursor: auto;
    background-color: $table-white;
    color: rgba($text-black, 0.5);
  }
}