@import './Colors.scss';

* {
  box-sizing: border-box;
}

// forces footer to bottom
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }

  footer {
    margin-top: auto;
  }
}

body {
  font-family: 'Helvetica', 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
}

a,button {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  color: $link-text;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

a:hover, a:focus, button:hover, button:focus {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.avatar-small {
  display: block;
  background-color: $light-bg-teal;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

// from w3, as always
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;

  a, button  {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      height: auto;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  background-color: $light-bg-grey;
  padding: 1rem;
}

.table-links {
  display: flex;
  padding-top: 1rem;
}