$dark-bg-grey: #121212;
$medium-bg-grey: #414141;
$light-bg-grey: #f0f0f0;

$dark-bg-brown: #1f1008;
$medium-bg-brown: #ab4400;

$dark-bg-teal: #004741;
$medium-bg-teal: #01b1a6;
$light-bg-teal: #378c9e;

$table-white: #ffffff;
$table-grey: #d6dadf;
$table-border: #cccccc;

$text-gold: #ffd200;
$text-darkened-gold: #ffbd00;
$text-tan: #e69000;
$text-black: #000000;
$text-light-green: #d7e5be;
$text-teal: #01b1a6;
$text-orange: #f98144;
$text-brown: #8c3f21;
$text-grey: #888888;
$text-dark-teal: #2d798c;
$text-light-grey: #cccccc;
$text-translucent-white: #ffffff80;

$primary-text: $text-tan;
$primary-background: $medium-bg-brown;
$secondary-text: $text-teal;
$secondary-background: $medium-bg-teal;

$header-background: $dark-bg-grey;
$header-text: $text-light-grey;
$user-text: $text-gold;

$nav-background: $medium-bg-grey;
$nav-text: $text-tan;
$nav-text-hover: $text-darkened-gold;
$nav-text-active: $text-grey;

$link-text: $text-teal;
$link-active-background: $text-teal;
$link-active-text: $text-light-grey;

$button-text: $text-light-grey;
$button-background: $medium-bg-teal;
$button-background-hover: $dark-bg-teal;

$footer-background: $dark-bg-brown;
$footer-text: $text-brown;
$copyright-background: $medium-bg-brown;
$copright-text: $text-translucent-white;